@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500&display=swap");

:root {
  --accent: #e54065;
  --background: #f4f5f9;
  --read-background: #f2f2f2;
  --filter-button: #e1e4ea;
  --border: #cfd2dc;
  --text: #636363;  
}

.App {
  color: var(--text);
  background-color: var(--background);
  padding: 2rem 3rem;
  font-family: "Nunito", sans-serif;
}

h1,
h2,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}
